            // navbar
            @import "./media-queries";

            html {
                scroll-behavior: smooth;
              }

            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            
            body {
                font-family: 'Poppins', sans-serif;
                margin: 0;
                overflow-y: auto;
            }
            
            .navbar {
                position: relative;
                padding: .4rem 2rem;
                display: flex;
                height: 10vh;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                background: #FDFDFD;
                box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
                z-index: 2;
                @include mobile {
                    padding: 1rem;
                    height: fit-content;
                }
                @include tablet {
                    padding: 1rem;
                    height: fit-content;
                }
                @include laptop {
                    padding: .4rem 2rem;
                }
                .lni {
                    display: none;
                    font-size: 32px;
                    @include mobile {
                        display: block;
                        color: #FF4141;
                    }
                    @include tablet {
                        display: block;
                        color: #FF4141;
                    }
                    @include laptop {
                        display: none;
                    }
                }
                &__logo {
                    width: 25%;
                    @include mobile {
                        width: 65%;
                    }
                    @include tablet {
                        width: 50%;
                    }
                    &__text {
                        font-size: 1.6rem;
                        font-weight: 600;
                        text-decoration: none;
                        color: #FF4141;
                        @include mobile {
                            font-size: 1.4rem;
                        }
                        @include tablet {
                            font-size: 1.6rem;
                        }
                    }
                }
                // navbar item
                &__links {
                    align-items: center;
                    padding: 0;
                    width: 50%;
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    position: relative;
                    @include mobile {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 4%;
                        width: 100%;
                        height: 90vh;
                        background: #000;
                        flex-direction: column;
                        justify-content: center;
                        z-index: 2;
                        display: none;
                    }
                    @include laptop {
                        display: flex;
                        position: relative;
                        width: 50%;
                        flex-direction: row;
                        justify-content: space-around;
                        background: transparent;
                        padding: 0;
                        height: fit-content;
                    }
                    &__closemenu {
                        @include mobile {
                            position: absolute;
                            top: 4pc;
                            right: 2pc;
                            .lni {
                                color: #FDFDFD;
                            }
                        }
                        @include laptop {
                            display: none;
                        }
                    }
                }
                // navbar link
                &__link {
                    text-decoration: none;
                    display: flex;
                    position: relative;
                    
                    align-items: center;
                    color: black;
                    @include mobile{
                        margin: 1rem 0;
                    }
                    @include tablet{
                        margin:0;
                    }
                    &__popup {
                        text-decoration: none;
                        display: flex;
                        width: 24px;
                        height: 24px;
                        background: #FF4141;
                        color: #FFF;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        position: absolute;
                        top: 8px;
                        left: 0pc;
                        @include mobile {
                            position: unset;
                            top: 0px;
                            width: 38px;
                            margin-left: .5rem;
                            border-radius: 15px;
                            -webkit-border-radius: 15px;
                            -moz-border-radius: 15px;
                            -ms-border-radius: 15px;
                            -o-border-radius: 15px;
                        }
                        @include laptop {
                            position: absolute;
                            margin-right: 0;
                            top: 8px;
                            left: -.8pc;
                            border-radius: 100%;
                            -webkit-border-radius: 100%;
                            -moz-border-radius: 100%;
                            -ms-border-radius: 100%;
                            width: 24px;
                            -o-border-radius: 100%;
                        }
                    }
                    &__text {
                        cursor: pointer;
                        font-size: 1rem;
                        font-weight: 500;
                        text-decoration: none;
                        color: #000;
                        @include mobile {
                            color: #FDFDFD;
                            font-size: 1.4rem;
                        }
                        @include laptop {
                            color: #000;
                            font-size: 1rem;
                            padding: .6rem 1.2rem;
                        }

                        &:hover {
                            background-color: #ff41416b;
                            .navbar__link__text {
                                color: #000;
                                @include mobile {
                                    color: #FDFDFD;
                                }
                                @include laptop {
                                    color: #000;
                                }
                            }
                        }
                    }
                    
                }
            }
            
           
            
            // hero section 
            .hero {
                padding: 1% 2%;
                display: none;
                justify-content: center;
                align-items: center;
                animation: fadeEffect 1s; 
                overflow: scroll;
                height: 100%;

                @include mobile{
                    min-height: fit-content;
                    max-height: 550px;
                }
                @include tablet{
                    max-height: 100%;
                }
                
                &__appcontainer {
                    margin-top: 1rem;
                    width: 50%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow:scroll;
                    @include mobile {
                        width: 100%;
                    }
                    @include laptop {
                        width: 50%;
                    }
                }
                &__appwrapper {
                    width: 80%;
                    height: fit-content;
                    border: 1px solid #FF4141;
                    padding: 3%;
                    overflow:scroll;
                    @include mobile {
                        width: 95%;
                    }
                    @include tablet {
                        width: 75%;
                    }
                    @include laptop {
                        width: 80%;
                    }
                    &__form {
                        display: flex;
                        flex-wrap: wrap;
                        margin: 2rem 0;
                    }
                    &__appinfo {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin: 2rem 0;
                        &__title {
                            font-size: 1rem;
                            @include mobile {
                                font-size: 1rem;
                            }
                            @include laptop {
                                font-size: 1rem;
                            }
                        }
                        &__text {
                            font-size: 1rem;
                            @include mobile {
                                font-size: .6rem;
                            }
                            @include tablet {
                                font-size: 1rem;
                            }
                            @include laptop {
                                font-size: 1rem;
                            }
                        }
                    }
                    &__tasklistwrapper {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        &__card {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 1rem 0;
                        }
                        &__taskcard {
                            width: 65%;
                            padding: .6rem 1.4rem;
                            border-radius:10px ;
                            -webkit-border-radius:10px ;
                            -moz-border-radius:10px ;
                            -ms-border-radius:10px ;
                            -o-border-radius:10px ;
                            text-align: center;
                            background-color: #FF4141;
                            text-decoration: none;
                            color: #FFF;
                            @include mobile{
                                padding: .6rem 1rem;
                                width: 68%;
                            }
                            @include laptop {
                                width: 65%;
                                padding: .6rem 1.4rem;
                            }
                        }
                        &__icons {
                            display: flex;
                            width: 30%;
                            justify-content: space-evenly;
                            align-items: center;
                            .lni {
                                font-size: 1.5rem;
                                @include mobile {
                                    font-size: 1.2rem;
                                }
                                @include laptop {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
                &__content {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    @include mobile {
                        display: none;
                    }
                    @include laptop {
                        display: flex;
                    }
                    &__img {
                        width: 80%;
                    }
                    &__pic {
                        width: 100%;
                    }
                    &__text {
                        display: flex;
                        justify-content: center;
                    }
                    &__title {
                        font-size: 2rem;
                        font-weight: 550;
                    }
                }
                &__clearbtn {
                    margin: 2rem 0;
                    &__btn {
                        text-decoration: none;
                        padding: .6rem 1.4rem;
                        background-color: #FF4141;
                        color: #FFF;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                    }
                }
                &__checkbox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #000;
                    .input_check {
                        width: 21px;
                        height: 1.4pc;
                        border: none;
                        outline: none;
                        background-color: #FF4141;
                    }
                }
            }

            @keyframes fadeEffect {
                from {opacity: 0;}
                to {opacity: 1;}
              }







            
            .inputcontainer {
                width: 65%;
                margin-right: 2rem;
                @include mobile {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 1rem;
                }
                @include laptop {
                    width: 55%;
                    margin: 0;
                    margin-right: 1rem;
                }
                @include laptop_L {
                    width: 65%;
                    margin-right: 2rem;
                }
                .app_input {
                    outline: none;
                    width: 100%;
                    height: 3rem;
                    padding: 0 15px;
                    border: 1px solid #FF4141;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;
                    input:placeholder {
                        font-size: 2rem;
                    }
                }
            }
            
            .app_btn {
                outline: none;
                padding: .8rem 2.2rem;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                border: none;
                background-color: #FF4141;
                color: #FFF;
                
            }
            
            .description {
                font-family: 'Poppins', sans-serif;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.671);
                width: 100vw;
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 3;
               
                &__wrapper {
                    padding: 3%;
                    background-color: #FDFDFD;
                    border: 1px solid #FF4141;
                    @include mobile{
                        width: 92%;
                    }
                    @include tablet{
                        width: 52%;
                    }
                    @include laptop{
                        width: 39%;
                    }
                    @include laptop_L{
                        width: 30%;
                    }
                    @include laptop_W{
                        width: 20%;
                    }
                }
                &__header{
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                }
                
                &__title {
                    margin: 1rem 0;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.747);
                    @include mobile{
                        font-size: .8rem;
                    }
                    @include tablet{
                        font-size: 1rem;
                    }
                }
                &__input {
                    outline: none;
                    border: 1px solid #FF4141;
                    margin-bottom: 1rem;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                    padding: 20px;
                    width: 100%;
                    
                    &::placeholder {
                        padding: 12px;
                    }
                }
                &__footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &__skip {
                    text-decoration: none;
                    border: none;
                    background-color: #000;
                    color: #FFF;
                    font-size: 1rem;
                    padding: .4rem .8rem;
                    border-radius:10px;
                    -webkit-border-radius:10px;
                    -moz-border-radius:10px;
                    -ms-border-radius:10px;
                    -o-border-radius:10px;
                    }
                &__btn{
                    @extend .app_btn;
                    @include mobile{
                        padding: .8rem 1.2rem;
                    }
                }
            }
            


            .navbar_active {
                display: flex;
            }


         .updatecontainer{
             margin: 0;
             margin-bottom: 1rem;
         } 

         .completedtaskcss{
             color: #FDFDFD;
             background-color: rgba(0, 0, 0,0.56);
             text-decoration: line-through;
         }


         
         .footer{
             position: fixed;
             bottom: 0;
             bottom: 0;
             right: 0;
             left: 0;
            background: black;
            color: white;
            display: flex;
            height: 10vh;
            justify-content: center;
            align-items: center;

            @include mobile{
                flex-direction: column;
            }
            @include tablet{
                flex-direction: row;
            }
           

            .logo{
                
                @include mobile{
                    position: relative;
                    right: 0;
                    align-self: center;
                    margin-top: 1rem;
                }
                @include tablet{
                    float: right;
                    position: absolute;
                    right: 3pc;
                }

                .fab{
                    text-decoration: none;
                    color: #FDFDFD;
                    margin-right: 1rem;
                }
            }
         }


         



         #comtaskcard{
             background-color: #000;
         }

         #trashcard{
             background-color: rgb(235, 139, 22);
         }

         
         
         .active-content{
            display: flex;

            
            
         }

         
         .active__tab {

            background-color: #ff41416b;
            color: #000;
            padding: .6rem 1.2rem;
            @include mobile{
                color: #FFF;
            }
            @include tablet{
                color: #000;
            }
                    

            .navbar__link__popup{
                display: none;
            }

            .navbar_active{
                display: none;
            }

        }


        .deactivate{
            display: none;
        }